html, body {
                /*background-color: #0080ff;*/
                /*color: #fff;*/
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
                overflow-x: hidden;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                color: white;
                font-size: 84px;
            }

            .links > a {
                /*color: #636b6f;*/
                color: #fff;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .mainlabel {
                font-family: 'Raleway', sans-serif;
                color: white;
                font-weight: 500;
            }

            #fancybox {
                position: absolute;
                margin-top: -50vh;
                display:flex;
                justify-content: center;
                width: 100%;
                z-index: 1;
            }

            #fancyline {
                width: 0%;
                height: 3px;
                background-color: white;
                transition: width 1.5s, background-color 1s;
            }

            #line {
                width: 100%;
                height: 3px;
                background-color: white;
                border-radius: 2px;
            }

            .line2 {
                width: 100%;
                height: 1px;
                background-color: white;
                border-radius: 2px;
                margin-top: 15px;
                margin-bottom: 15px;
            }


            .field {
                width:100vw;

            }


            #left {
                width:15vw;
                position: fixed;
                background-color:#333333;
                float:left;
                border-right-style: solid;
                border-right-width: 0.5vh;
                border-right-color: #585858;
                overflow-y: overlay;
            }

            .leftboxtop {
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                /*
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #585858;
                */         
            }

            .leftbox {
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                /*
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #585858;
                */         
            }


            #main-menu-top {
                background-color: #585858;
                width:100vw;
                height:50vh;
                display: flex;
                padding-top: 15vh;
                justify-content: center;
                transition: all 0.5s;
            }

            #main-menu-container {
                width:60%;
            }

            #main-menu-bottom {
                background-color: #585858;
                width:100vw;
                height:50vh;
                display: flex;
                padding-top: 12.5vh;
                justify-content: center;
                transition: all 0.5s;
            }


            #top {
                background-color: #0080ff;
                width:85vw;
                height:40vh;
                display: flex;
                align-items: center;
                justify-content: center;
                float:right;
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #585858;
            }


            #initial{
                width:85vw;
                height:60vh;
                align-items: center;
                justify-content: center;
                float:right;
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #585858;
            }

            #initial2{
                width:85vw;
                height: 60vh;
                align-items: center;
                justify-content: center;
                float:right;
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #585858;
            }

            #LogsTitle {
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                width: 100%;
                min-height:15vh;
                background-color: #ac00e6;
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #585858;
            }

            #editRobotInner {

                width:100%;
                /*height:55vh;*/=

            }


            #robotstats{
                width:60%;
                height:100vh;
                overflow-y:overlay;
                float:left;
                background-color: #FFFFFF;
                color: #585858;
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #e0e0d1;
                border-right-style: solid;
                border-right-width: 0.5vh;
                border-right-color: #585858;
            }

            #robotstats-labels {
                background-color: #ac00e6;
                width: 100%;
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #robotstats-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #robotstats-content{
                width: 95%;
                height: 55vh;
            }

            .row-info {
                color: #585858;
                font-weight: 600;
                font-size: 10px;
                letter-spacing: .1rem;
                margin-top: 10px;
                padding-top: 10px;
                height: 50px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                oveflow: hidden;
            }

            #logbox {
                width:40%;
                height:100vh;
                overflow-y:overlay;
                float:left;
                background-color: #FFFFFF;
                color: #585858;
                border-bottom-style: solid;
                border-bottom-width: 0.5vh;
                border-bottom-color: #e0e0d1;
                border-right-color: #585858;
            }

            #logs-labels {
                background-color: #ac00e6;
                width: 100%;
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
            }

            #logbox-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #logbox-contents{
                width:92%;
                height:55vh;
            }

            .logbox-content{
                display: flex;
                align-items: center;
                height: 40px;
                margin-top:5px;
                margin-bottom:15px;
                text-align:left;
                word-wrap: break-word;
            }

            #editLogBox {
                background-color: white;
                padding-top: 5vh;
                width:100%;
                height:45vh;
                overflow-y:overlay;
            }

            #back {

                color: #fff;
                font-size: 14px;

            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .overlay {
            	display: none;
            	position:relative;
            	width:100vw;
            	height:100vh;
            	background-color:#585858;
            	top:-100vh;
            	opacity:0;
            	z-index:5;
            	transition: all 1s;
            }

            #overlayOuter1 {
                display: none;
                position:relative;
                width:100vw;
                height:100vh;
                background-color:#585858;
                opacity:0;
                z-index:5;
                transition: all 1s;
            }

            #overlayInnerx {
                display: none;
                position:relative;
                width:90vw;
                height:80vh;
                top: -90vh;
                background-color:white;
                margin-left:auto;
                margin-right:auto;
                opacity:0;
                z-index:6;
                border-radius: 15px;
                transition: all 1s;
            }

            .modaline {
            	display: none;
            	position:relative;
            	width:80vw;
            	height:80vh;
            	top: -190vh;
            	background-color:white;
            	margin-left:auto;
            	margin-right:auto;
            	opacity:0;
            	z-index:6;
            	border-radius: 15px;
            	transition: all 1s;
            }

            .cell-smaller {
                width:10%;
                display:inline-block;
                float:left;
                text-overflow: ellipsis;
                oveflow: hidden;
            }

            .cell-small {
                width:17.5%;
                display:inline-block;
                float:left;
                text-overflow: ellipsis;
                oveflow: hidden;
            }

            .cells {
                width:20%;
            	display:inline-block;
            	float:left;
                text-overflow: ellipsis;
                oveflow: hidden;            }

            .cell-large {
                width:30%;
                display:inline-block;
                float:left;
                text-overflow: ellipsis;
                oveflow: hidden;
                word-wrap: break-word;
            }

            p {
                color: white;
                font-weight: 600;
                font-size: 14px;
            }

            .darktext {
                color: #585858;
            }

            .lighttext {
                font-size: 16px;
                color: #ffffff;
            }

            .cutelink {
                margin: 12px;
                padding: 12px;
                border-radius: 6px;
                cursor: pointer;
                transition: all 0.5s;
                text-decoration: none !important;
            }

            .cutelink:hover {
                background-color: #FFFFFF;
                color: #ac00e6;
            }

            .Divider {
                width: 80%;
                display: flex;
                margin-left:auto;
                margin-right:auto;
                align-items: center;
                justify-content: center;
            }

            .Division {
                width: 33%;
                text-align:center;
                align-items: center;
                justify-content: center;
                padding: 15px !important;
                margin-left: 10px;
                margin-right: 10px;
            }

            .SizeBoost {
                height: 55px;
                padding: 15px !important;
            }

            .ShiftUp {
                margin-top: 5px !important;
            }

            .ShiftUpper {
                margin-top: -1px !important;
            }

            .ShiftDown {
                margin-top: 18px !important;
            }

            .fontBoost1 {
                font-size: 18px;
                font-weight: 900;
                transition: all 0.5s;
            }

            .fontBoost2 {
                font-size: 45px;
                font-weight: 500;
            }

            .fontBoost3 {
                font-size: 18px;
                font-weight: 900;
                color: #585858;
            }

            .arranger {
                margin:20px;
                display: inline-block;
                float: left;
            }

            #basicScreen{
                width:85vw;
                float:right;
            }